<div class="row">

  <ng-container *ngIf="category.subcategories && category.subcategories.length > 0">
    <div *ngFor="let subcategory of category.subcategories"
         class="col-6 dish-menubar-text-color content-panel list-outline-color">

      <span style="font-weight: bolder;">{{subcategory.name}}</span>

      <div *ngFor="let item of subcategory.items"
           class="dish-menubar-text-color content-panel-text"
           (dblclick)="removeTagFromList(item)">
              <span class="{{item.crossed_off ? 'itemCrossedOff': ''}}">
        {{item.tag.name}}</span>

        <ng-container>
          <span *ngIf="item.used_count > 1 && !showItemLegends">({{item.used_count}})</span>

        <!-- MM  <at-color-tags *ngIf="showLegends(item)"
                         [item]="item"
                         [legendMap]="legendMap">

          </at-color-tags> -->


        </ng-container>
      </div>

    </div>
  </ng-container>

  <div class="col-6 dish-menubar-text-color content-panel-text" *ngFor="let item of category.items"
       (dblclick)="removeTagFromList(item)">
    <div class="row">
              <span class="{{item.crossed_off ? 'itemCrossedOff': ''}}">
                {{item.tag.name}}</span>
      <ng-container *ngIf="!(category.is_frequent)">
        <span *ngIf="item.used_count > 1 && !showItemLegends">({{item.used_count}})</span>
        <span *ngIf="showLegends(item)" class="legend-combined-box">
        <ng-container *ngFor="let dishSource of item.source_keys">
          <!--<span class="{{legendLookup(dishSource.id)}} legend-combined-box-element"></span>-->
          <span>k:{{dishSource}}</span>
        </ng-container>
    </span>
        <!-- MM

          <ng-container *ngFor="let listSource of item.list_sources">
              <span class="{{legendLookup(listSource.display)}} legend-combined-box-element"></span>

        </ng-container>
     -->
      </ng-container>
    </div>
  </div>

</div>


