<div *ngIf="shoppingList" class="container">
  <div class="row page-title list-text-color">Shop!</div>
  <div class="row">
    <div class="col-9" style="padding-left:0px;">


      <div class="row justify-content-between" style="margin-left:0px">
        <div *ngFor="let category of shoppingList.categories, let i = index" class="col-12">
          <div class="content-panel legend-1-outline category-light col " style="margin-right:2px">
            <at-cross-off-item
              [category]="category"
              [legendMap]="listLegend"
              [hideCrossedOff]="hideCrossedOff"
              [legendType]="sourceDisplayType"
              [listId]="shoppingList.list_id"
              (itemCrossedOff)="crossOffItem($event)">
            </at-cross-off-item>
          </div>
        </div>
      </div>


    </div>
    <div class="col-3">
      <div
        class="row menu-color menubar-flush-top justify-content-end">

        <div class="icon-button" (click)="toggleMenu()"><span class="fa-ellipsis-v fa"></span></div>
      </div>
      <div class="row dish-menubar-text-color menubar-flush-middle dish-menu-dropdown-color justify-content-end">
        <div class="col">
          <div class="row justify-content-end text-menu-link" (click)="switchLists()">Shop {{otherShopName}}
          </div>
        </div>
      </div>

      <ng-container *ngIf="showMenu">
        <div class="row dish-menubar-text-color menubar-flush-middle dish-menu-dropdown-color justify-content-end">
          <div class="col">
            <div class="row justify-content-end text-menu-link"
                 (click)="toggleLayoutList()">Change Layout
            </div>
          </div>
        </div>
        <div *ngIf="showListLayouts"
             class="row {{showMenu?'menubar-flush-top':'menubar-flush'}} menu-color dish-menubar-text-color dish-menu-color justify-content-end">
          <div class="col">
            <div *ngFor="let listLayout of listLayoutList"
                 class="row justify-content-center" (click)="changeListLayout(listLayout.layout_id)">
              {{listLayout.name}}
            </div>
          </div>
        </div>
        <div class="row dish-menubar-text-color menubar-flush-middle dish-menu-dropdown-color justify-content-end">
          <div class="col">
            <div class="row justify-content-end text-menu-link">
              Source Display
            </div>
          </div>
        </div>
        <div class="row menubar-flush menu-color dish-menubar-text-color dish-menu-color justify-content-end">
          <div class="col">
            <div class="row justify-content-center" (click)="setSourceDisplay('none')">
              None
            </div>
            <div class="row justify-content-center" (click)="setSourceDisplay('word')">
              Dish Name
            </div>
            <div class="row justify-content-center" (click)="setSourceDisplay('color')">
              Colors
            </div>
          </div>
        </div>
        <div class="row dish-menubar-text-color menubar-flush-middle dish-menu-dropdown-color justify-content-end">
          <div class="col">
            <div class="row justify-content-end text-menu-link"
                 (click)="crossOffAllItems()">{{crossOffAll?'Cross Off All':'Un-cross off all'}}
            </div>
            <div class="row justify-content-end text-menu-link"
                 (click)="toggleHideCrossedOff()">{{hideCrossedOff?'Show Crossed Off':'Hide Crossed Off'}}
            </div>
            <div class="row justify-content-end text-menu-link"
            >Print
            </div>
          </div>
        </div>
      </ng-container>

      <div *ngIf="showLegend()" class="row menubar-flush-bottom main-color justify-content-end">
        <div class="col" style="padding:0px;">


          <div class="row justify-content-center">
            <div class="legend-table">

              <div *ngFor="let source of shoppingList.dish_sources"
                   class="legend-row">
                <div class="legend-cell" (click)="highlightDish(source);">
                  <span class="legend-box {{source.disp_class}}"></span>

                </div>
                <div class="legend-cell text-capitalize" (click)="highlightDish(source);">
                  <span>{{source.display}}</span>

                </div>
              </div>

              <div *ngFor="let source of shoppingList.list_sources"
                   class="legend-row">
                <div class="legend-cell" (click)="highlightList(source)">
                  <span class="legend-box {{source.disp_class}}"></span>

                </div>
                <div class="legend-cell text-capitalize" (click)="highlightList(source)">
                  <span>{{source.display}}</span>

                </div>
              </div>

            </div>
          </div>


        </div>
      </div>

    </div>
  </div>


</div>
