<div style="margin:auto;display:table;">
  <div style="display:table-row">
    <div style="display:table-cell" class="landing-box main-color main-box">
      <div>Main Box</div>
    </div>
    <div style="display:table-cell" class="landing-box list-color list-box">
      <div> List Box</div>
    </div>
  </div>

  <div style="display:table-row">
    <div style="display:table-cell" class="landing-box plan-color plan-box">
      <div>Plan Box</div>
    </div>
    <div style="display:table-cell" class="landing-box dish-color dish-box">
      <at-dish-landing></at-dish-landing>
    </div>
  </div>
</div>
