<script src="target-edit.component.ts"></script>
<div class="row">
  <div class="{{showTagSelect?'col-md-6':'col-md-10'}} ">
    <h3>Edit Target - {{target.target_name}} - {{target.target_id}}</h3>
  </div>
  <div class="col-md-2 ">
    <a *ngIf="proposalId" class="btn btn-success"
       [routerLink]="['/proposal/edit', target.proposal_id]">
      View Proposal
    </a>
    <span *ngIf="!proposalId" class="btn btn-success"
          (click)="generateProposal()">
      Generate Proposal
                </span>
  </div>
</div>
<div class="row">
  <!-- main target area -->
  <div class="{{showTagSelect?'col-md-8':'col-md-12'}}">

    <div>
      <!-- top row with target name, target tags and add tag button -->
      <div class="col-md-12">
        <!-- target tags -->
        <div class="row">
          <div class="col-md-12">
            <div><h4>Target Tags</h4></div>

            <!-- list of slots -->
            <div class="row">
              <div class="col-md-2 border rounded-left bg-primary slotPuff">Target Tags</div>
              <div class="col-md-9 border slotPuff" [dragula]='"first_bag"' [attr.data-is-target]="true">
                <span *ngFor="let tag of target.target_tags, let i = index"
                      (click)="removeTagFromTarget(tag.tag_id)"
                      class="border bg-warning rounded"
                      style="padding:3px;margin:3px;"
                      [attr.data-id]="tag.tag_id">
                  {{tag.name}}
                </span>
              </div>
              <div class="col-md-1 border rounded-right bg-warning slotPuff"
                   (click)="toggleShowTagSelect()">Add Tags
              </div>

            </div>
          </div>
        </div>
        <!-- list of slots -->
        <div class="row">

          <div class="col-md-12">
            <div><h4>Slots</h4></div>
            <!-- list of slots -->
            <div class="row" *ngFor="let slot of target.target_slots, let i = index">
              <div class="col-md-2 border rounded-left bg-primary slotPuff">{{slot.slot_dish_tag.name}}</div>
              <div class="col-md-9 border slotPuff" [dragula]='"first_bag"' [attr.data-id]="slot.target_slot_id">
                <span *ngFor="let tag of slot.slot_tags"
                      class="border bg-warning rounded"
                      style="padding:3px;margin:3px;"
                      [attr.data-id]="tag.tag_id">
                  {{tag.name}}
                </span>
              </div>
              <div class="col-md-1 border rounded-right bg-warning slotPuff"
                   (click)="deleteSlot(slot.target_slot_id)">Delete
              </div>

            </div>

            <!-- add new slot area -->
            <div>
              <h4>Add Slot</h4>
            </div>
            <div *ngIf="slotsFilled">
              <ng-container *ngFor="let key of dishSlotTags">
                <a class="btn btn-warning btn-sm"

                   (click)="addSlot(key)">
                  Add {{key}}
                </a>

              </ng-container>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- tag popout -->
  <div class="col-md-4">

    <div class="row">

      <div *ngIf="showTagSelect" class="col-md-10">
        <div>
          <at-dish-tag-select [tagTypes]="'Ingredient,Rating,TagType,DishType'"
                              [selectType]="selectType"
                              (tagSelected)="addTagToTarget($event)">

          </at-dish-tag-select>
        </div>

      </div>


    </div>

  </div>
</div>



