<div class="container">
  <div class="row page-title plan-text-color">Delete Tag Tool</div>
  <div class="row">
    <div class="col-9">
      <div class="row menubar dish-menubar-text-color menu-color justify-content-between">
        <div style="float:left">
          <div style="width:555px;">
            <ng-container *ngIf="!hasDeleteTag()">
              <span>Select Tag To Delete</span>
              <at-tag-select
                [tagTypes]="'Ingredient,Rating,DishType,TagType,NonEdible'"
                [selectType]="'Assign'"
                [showText]="'tag to delete'"
                [tagList]="alltagsSearch"
                [allowAdd]="true"
                [showCancelButton]="true"
                [passedInputStyle]="'menubar-input'"
                (tagSelected)="selectTag($event)">
                <!--(cancelAddTag)="toggleTagEntry(true)"  --></at-tag-select>
            </ng-container>
            <ng-container *ngIf="showSummary()">
              <div>Replace Tag {{tagToDelete.name}}, Id {{tagToDelete.tag_id}} with ....</div>
              <br />
            </ng-container>
            <div *ngIf="hasDeleteTag() && !hasReplaceTag()">
              <span>Select Replacement Tag</span>
              <at-tag-select
                [tagTypes]="'Ingredient,Rating,DishType,TagType,NonEdibles'"
                [selectType]="'Assign'"
                [showText]="'replace tag'"
                [tagList]="alltagsSearch"
                [allowAdd]="true"
                [showCancelButton]="true"
                [passedInputStyle]="'menubar-input'"
                (tagSelected)="selectTag($event)">
              <!--(cancelAddTag)="toggleTagEntry(true)"  --></at-tag-select>
            </div>
            <ng-container   *ngIf="hasDeleteTag() && hasReplaceTag()">
              <span>Replace Tag {{tagToDelete.name}} ({{tagToDelete.tag_id}}) with Tag {{tagForReplace.name}} ({{tagForReplace.tag_id}}) ??</span>
              <button class="dish-tag-element main-color" (click)="replaceTag()">Yes, do it.</button>
              <button class="dish-tag-element main-color" (click)="cancel()">No, nevermind.</button>
            </ng-container>
          </div>

        </div>
        <div>
        </div>
      </div>
      <div>{{message}}</div>
    </div>

  </div>
</div>

