<div class="container">
  <div class="row page-title dish-text-color">Manage Dishes</div>
  <div class="row">
    <at-dish-filter-select class="{{hasSelectedDishes()?'col-9':'col-12'}}" (dishSelected)="selectDish($event)"
                           (onAddClick)="goToAddDish()"
                           [showAdd]="true"
                           [elementClass]="'dish'">
    </at-dish-filter-select>

    <div *ngIf="hasSelectedDishes()" class="col-3">
      <div
        class="row {{showSelectedMenu?'menubar-flush-top':'menubar-flush'}} menu-color dish-menubar-text-color dish-menu-color justify-content-end">

        <div class="icon-button"
             (click)="toggleSelectedMenu()"><span class="fa-ellipsis-v fa"></span></div>
      </div>
      <div *ngIf="showSelectedMenu"
           class="row menubar-flush-middle dish-menubar-text-color dish-menu-dropdown-color justify-content-end">
        <div class="col">
          <div *ngIf="!isShowTagEntry" class="row justify-content-end text-menu-link" (click)="toggleTagEntry()">Add Tag
          </div>
          <ng-container *ngIf="isShowTagEntry">
            <div class="row justify-content-end text-menu-link">
              <at-tag-select aria-describedby="filter-query"
                             [tagTypes]="'Ingredient,Rating,DishType,TagType'"
                             [selectType]="'Assign'"
                             [showText]="'Select Tag to Add'"
                             [tagList]="alltags"
                             [allowAdd]="true"
                             [showCancelButton]="true"
                             [passedInputStyle]="'menubar-input'"
                             (tagSelected)="addTagToDishes($event)"
                             (cancelAddTag)="toggleTagEntry()"></at-tag-select>
            </div>


          </ng-container>
          <div class="row justify-content-end text-menu-link" (click)="toggleMealPlanList()">Add to Meal Plan
            <div *ngIf="showMealPlanList">

            </div>
          </div>
        </div>
      </div>
      <!-- add to meal plan submenu -->
      <div *ngIf="showMealPlanList"
           class="row {{showSelectedMenu?'menubar-flush-top':'menubar-flush'}} menu-color dish-menubar-text-color dish-menu-color justify-content-end">
        <div class="col">
          <div class="row justify-content-center" (click)="addDishesToNewMealPlan()">New Meal Plan</div>
          <div *ngFor="let mealPlan of mealPlanList"
               class="row justify-content-center" (click)="addDishesToMealPlan(mealPlan.meal_plan_id)">{{mealPlan.name}}
          </div>
          <div *ngIf="mealPlanMore" class="row justify-content-end" (click)="showAllMenuPlans()">more...</div>
        </div>
      </div>
      <!-- menu cont -->
      <div *ngIf="showSelectedMenu"
           class="row menubar-flush-middle dish-menubar-text-color dish-menu-dropdown-color justify-content-end">
        <div class="col">
          <div class="row justify-content-end text-menu-link" (click)="toggleGenerateLists()"> Generate List</div>
          <div class="row justify-content-end spacer"></div>
        </div>
      </div>
      <!-- add to meal plan submenu -->
      <div *ngIf="showGenerateLists"
           class="row {{showSelectedMenu?'menubar-flush-top':'menubar-flush'}} menu-color dish-menubar-text-color dish-menu-color justify-content-end">
        <at-generate-list (generateProperties)="addDishesToNewList($event)"></at-generate-list>
      </div>
      <div *ngIf="selectedDishes.length > 0" class="row main-color justify-content-center" style="margin-left:0px;">
        <div *ngFor="let selected of selectedDishes" class="dish-tag-element dish-tag-element-spaced dish-color"
             (dblclick)="unSelectDish(selected)"
             (click)="toggleDishTags(selected.dish_id)"
             (mouseover)="selectedDishMouseIn(selected)"
             (mouseleave)="selectedDishMouseOut()">{{selected.name}}
          <span *ngIf="selectHoverDetail == selected.dish_id"
                class="icon-button"
                (click)="goToDishEdit(selected.dish_id)"
          ><span class="fa-edit fa"></span></span>
          <ng-container *ngIf="isShowTags(selected.dish_id)">
            <div *ngFor="let dishtag of selected.tags">
              <div atTagBrowseStyle [tag]="dishtag" [origClass]="'dish-tag-element-squished dish-tag-element '">
                {{dishtag.name}}
              </div>
            </div>
          </ng-container>
        </div>
        <div class=" spacer"></div>
      </div>

    </div>
  </div>

  <app-modal #modal1 [autoHide]="2500">
    <div class="app-modal-body">
      Tag added to Dishes
    </div>
  </app-modal>
</div>
