<div class="container">
  <div class="row page-title list-text-color">Manage Shopping Lists</div>
  <div class="row">
    <div class="col-12" style="padding-left:0px;">
      <div class="row menubar list-menubar-text-color menu-color justify-content-start">
        if in process, show button here (not in menubar)

      </div>

      <div class="row justify-content-between" style="margin-left:0px">
        <div *ngFor="let type of shoppingListTypes"
             class="dish-tag-element-wide list-color">
          {{allShoppingLists[type]?type:'nada'}}
          <span *ngIf="allShoppingLists[type]"
                class="icon-button"
                (click)="goToEdit(type)"
          ><span class="fa-edit fa"></span></span>
          <div class="dish-tag-element list-outline-color">edit</div>
          <div>delete</div>
          <div class="dish-tag-element list-outline-color">
            {{allShoppingLists[type]?allShoppingLists[type].item_count:0}} Items
          </div>
        </div>

      </div>


    </div>

  </div>


</div>
