<div class="container">
  <div class="row page-title list-text-color">Manage Shopping Lists</div>
  <div class="row">
    <div class="col-12" style="padding-left:0px;">
      <div class="row menubar list-menubar-text-color menu-color justify-content-end">
        <div class=" add-button-md list-color" (click)="createShoppingList()">
          <fa [name]="'plus'"></fa>
        </div>
      </div>

      <div class="row justify-content-between" style="margin-left:0px">

        <at-single-list-component
          [list]="activeList"
          [displayText]="'Active List'">
        </at-single-list-component>

        <at-single-list-component
          [list]="baseList"
          [displayText]="'Base List'">
        </at-single-list-component>


        <at-single-list-component
          [list]="pickupList"
          [displayText]="'Pickup List'">
        </at-single-list-component>

        <ng-container *ngFor="let list of generalLists">
          <at-single-list-component
            [list]="list"
            (delete)="deleteShoppingList($event)">
          </at-single-list-component>
        </ng-container>

      </div>


    </div>

  </div>


</div>
