<div class="container">
  <div class="row page-title plan-text-color">What do you have on hand?</div>
  <div class="row">
    <div class="col-9">
      <div class="row menubar dish-menubar-text-color menu-color justify-content-between">
        <div style="float:left">
          <div class="input-group searchbox-group" style="max-width:135px;">
            <at-tag-select aria-describedby="filter-query"
                           [tagTypes]="'Ingredient'"
                           [selectType]="'Assign'"
                           [showText]="'What do you have?'"
                           [allowAdd]="false"
                           [tagList]="alltagsSearch"
                           [passedInputStyle]="'menubar-input'"
                           (tagSelected)="selectTag($event)">
            </at-tag-select>
          </div>
        </div>
        <div class=" add-button-md plan-color" (click)="goToNext()">
          <fa [name]="'chevron-right'"></fa>
        </div>
      </div>
      <ng-container *ngIf="hasSelectedTags()">
        <div class="row" *ngFor="let tag of selectedTags" style="margin-left:0px;">
          <div class="dish-tag-xl dish-tag-element plan-color " (click)="removeTag(tag)"> {{tag.name}}</div>

        </div>
      </ng-container>
      <ng-container *ngIf="!hasSelectedTags()">Add Something!</ng-container>
    </div>

  </div>
</div>

