<div class="row">
  <div class="col-md-8">
    <h4>Edit Shopping List - {{shoppingList.list_type}}</h4>
    <!-- list to edit here -->
    <div class="col-sm-7">
      <div style="padding-top:50px"></div>
      <div *ngFor="let category of shoppingList.categories" class="row">
        {{category.name}}
        <ul>
          <li *ngFor="let item of category.items" (dblclick)="removeItem(item)">
            {{item.tag.name}} <span *ngIf="item.used_count > 1">({{item.used_count}})</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <!-- tags to add here-->
    <div class="row">
      <div class="col-md-10">
        <at-dish-tag-select (tagSelected)="addItem($event)"></at-dish-tag-select>
      </div>
    </div>
  </div>
</div>



