<h2>List of Shopping Lists</h2>
<section *ngIf="errorMessage">
  {{errorMessage}}
</section>
<ng-container *ngIf="baseListLoaded">
  <at-single-list [shoppingList]="baseList" (createList)="createList($event)"
                  (deleteList)=deleteShoppingList($event)></at-single-list>

</ng-container>
<ng-container *ngIf="pickUpListLoaded">
  <at-single-list [shoppingList]="pickUpList"
                  (createList)="createList($event)"
                  (deleteList)=deleteShoppingList($event)>
  </at-single-list>
</ng-container>
<ng-container *ngIf="inProcessListLoaded">
  <at-single-list [shoppingList]="inProcessList" (createList)="createList($event)"
                  (deleteList)=deleteShoppingList($event)></at-single-list>
</ng-container>
<ng-container *ngIf="activeListLoaded">
  <at-single-list [shoppingList]="activeList" (createList)="createList($event)"
                  (deleteList)=deleteShoppingList($event)></at-single-list>
</ng-container>
