<div class="row">
  <div class="col-md-8">
    <h3>Assign Tags To Tags - TagType {{currentTagType}}</h3>
  </div>
</div>
<div class="row justify-content-around">
  <div class="col-md-2" *ngFor="let tagtype of tagTypeList">
    <span class="card" style="text-align:center" (click)="changeTagType(tagtype)">{{tagtype}}</span>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12"><h4>Select Area</h4></div>
    </div>
    <div>Navigation
      <div *ngIf="loading">
        loading
      </div>
      <ng-container *ngIf="!loading">
        <ng-container *ngFor="let tag of navigationList">
          <div class="dish-tag-element-centered list-color" style="margin:5px"
               (click)="navigateTags(tag.tag_id)">
            {{tag.name}}
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div>Tags
      <div *ngIf="loading">
        loading
      </div>
      <ng-container *ngIf="!loading">
        <ng-container *ngFor="let tag of contentList">
          <div *ngIf="tag.is_group" class="dish-tag-element-centered dish-color" style="margin:5px"
          >
            <span (click)="navigateTags(tag.tag_id)">{{tag.name}}</span>
            <span style="padding-left:10px;" (click)="selectEditTag(tag)">
            <fa [name]="'plus'"></fa></span>
          </div>
          <div *ngIf="!tag.is_group" class="dish-tag-element-centered dish-outline-color" style="margin:5px"
               (click)="selectEditTag(tag)">
            {{tag.name}}  <span style="margin-left:3px" [routerLink]="['/edit', tag.tag_id]"><fa [name]="'pencil'"></fa></span>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="row">
      <div class="col-md-8">
        <span *ngIf="showAddTag()">
                         <div class="input-group">
                 <input #addTagBox class="form-control input-lg" type="text"
                        placeholder="new tag"
                        (keyup.enter)="addNewTag(addTagBox.value)"/>
                       <span class="input-group-btn">
                         <button class="btn btn-success btn"
                                 (click)="toggleAddTag()">X</button>
                         <button class="btn btn-success btn"
                                 (click)="addNewTag(addTagBox.value)">
    <fa [name]="'empire'"></fa>
                       </button>
      </span>
               </div>
        </span>
        <span *ngIf="!showAddTag()">
        <button class="btn btn-success btn"
                (click)="toggleAddTag()">Add Tag </button>
        </span>
      </div>
    </div>
    <ng-container *ngIf="!loading">


    </ng-container>

  </div>

  <div class="col-md-4" *ngIf="showToAdd">
    <div class="row">
      <div class="col-md-12"><h4>Edit Area</h4></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a *ngIf="selectedTag" class="btn btn-warning btn-sm"
           (click)="addAllTagsToSelected()">
          Add Tags - {{selectedTag.name}}
        </a>
      </div>
      <div class="col-md-12">
        <a *ngIf="!createNewGroupFlag" class="btn btn-warning btn-sm"
           (click)="createNewGroup()">
          Add Tags to New Group
        </a>
        <ng-container *ngIf="createNewGroupFlag">
          <input #newGroupBox class="form-control input-lg" type="text"
                 placeholder="new group"
                 (keyup.enter)="addTagsToNewGroup(newGroupBox.value)"/>
        </ng-container>
      </div>
      <div class="col-md-12">
        <a class="btn btn-warning btn-sm"
           (click)="moveToBaseTag()">
          Move To Base Tag
        </a></div>
      <div class="col-md-12">
        <a class="btn btn-warning btn-sm"
           (click)="clearAllTagsToAdd()">
          Clear
        </a></div>
    </div>

    <ng-container
      *ngFor="let tag of hopperTags"
    >
      <div class="row {{showEditTag(tag.tag_id)? '': 'card'}}" style="margin:5px">
      <span *ngIf="!showEditTag(tag.tag_id)" style="margin-right:15px;margin-left:15px"><span
        (click)="removeFromTagsToAdd(tag)">{{tag.name}}</span>
    <fa class="card-link" style="float:right; " [name]="'rocket'" (click)="editTagName(tag)"></fa>


      </span>


        <span *ngIf="showEditTag(tag.tag_id)" style="margin-right:15px;margin-left:15px">
               <div class="input-group">
                 <input #editTagBox class="form-control input-lg" type="text"
                        placeholder="{{editTag.name}}"
                        (keyup.enter)="saveTagNameEdit(editTagBox.value)"/>
                       <span class="input-group-btn"><button class="btn btn-success btn"
                                                             (click)="saveTagNameEdit(editTagBox.value)">
    <fa [name]="'empire'"></fa>
                       </button>
      </span>
               </div>
      </span>
      </div>
    </ng-container>
  </div>


  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12"><h4>To Tag</h4></div>

    </div>
    <div class="row">
      <div class="col-md-12">Select Tag</div>
    </div>

    <div class="row card" style="margin:5px"
         *ngFor="let tag of parentTags"
         (click)="selectAssignTag(tag)">
      {{tag.name}}
    </div>
  </div>
</div>



