<div class="row">
  <div class="col-sm-6">
    <a class="btn btn-primary btn-lg"
       routerLink="/add">
      Add new tag
    </a>
  </div>
  <div class="col-sm-6">

    <a class="btn btn-success btn"
       routerLink="/tools/tagtotag">Tag Tool</a>
</div>
</div>
<h2>List of Tags</h2>
<section *ngIf="errorMessage">
  {{errorMessage}}
</section>
<div class="row" *ngFor="let tag of tags; let e=even; let f=first; let l=last"
     ywActionable="#aaaaaa" (onAction)="edit(tag.tag_id)"
     [ngClass]="{ evenRow: e }"
     [class.topRow]="f"
     [class.bottomRow]="l">
  <div class="col-sm-8">
    <h4>{{tag.tag_id}}: {{tag.name}}: {{tag.description}} : {{tag.tag_type}}</h4>
  </div>
  <div class="col-sm-4" style="margin-top: 5px;">
    <div class="pull-right">
      <a class="btn btn-warning btn-sm"
         [routerLink]="['/edit', tag.tag_id]">
        Edit
      </a>
    </div>
  </div>
</div>
