<div class="row">
  <div *ngIf="!showAdd" class="col-sm-12">
    <a class="btn btn-primary btn-lg"
       (click)="add()">
      Add new dish
    </a>
  </div>
  <div *ngIf="showAdd" class="col-sm-12">
    <input #dishNameBox class="form-control input-lg" type="text"
           placeholder="tag name"
           (keyup.enter)="addDish(dishNameBox.value)"/>
    <a class="btn btn-primary btn-lg"
       (click)="addDish(dishNameBox.value)">
      Add new dish
    </a>
  </div>
</div>
<h2>List of Dishes</h2>
<section *ngIf="errorMessage">
  {{errorMessage}}
</section>
<div class="row" *ngFor="let dish of dishes; let e=even; let f=first; let l=last"
     ywActionable="#aaaaaa" (onAction)="edit(dish.dish_id)"
     [ngClass]="{ evenRow: e }"
     [class.topRow]="f"
     [class.bottomRow]="l">
  <div class="col-sm-8">
    <h4>{{dish.dish_id}}: {{dish.name}}: {{dish.last_added | date}} </h4>
  </div>
  <div class="col-sm-4" style="margin-top: 5px;">
    <div class="pull-right">
      <a class="btn btn-warning btn-sm"
         [routerLink]="['/dish/edit', dish.dish_id]">
        Edit
      </a>
      <a class="btn btn-danger btn-sm"
         [routerLink]="['/dish/delete', dish.dish_id]">
        Delete
      </a>
    </div>
  </div>
</div>
