<!--<nav class="navbar" style="background-color: purple;">
  <!--<button class="navbar-toggler navbar-toggler-right" type="button"
          data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">DishSNAP</a>

    <div class="dropdown-menu">legacy
      <a class="dropdown-item dropdown-link active" href="/home"
         routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLinkActive="active" href="/login">Login</a>
      <a class="nav-item nav-link" routerLinkActive="active" href="/list">List</a>
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        Tools
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/tools/dishtotag">DishITag Tag Tool</a>
        <a class="dropdown-item" href="/tools/tagtotITag>TagITag Tag Tool</a>
        <a class="dropdown-item" href="/tools/ratingtag">RatITag Tag Tool</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>

      <a class="nav-item nav-link" routerLinkActive="active" href="/dish/list">Dish List</a>
      <a class="nav-item nav-link" routerLinkActive="active" href="/mealplan/list">Meal Plan List</a>
      <a class="nav-item nav-link" routerLinkActive="active" href="/shoppinglist/list">Shopping Lists</a>
      <a class="nav-item nav-link" routerLinkActive="active" href="/listlayout/list">List Layouts</a>
      <a class="nav-item nav-link" routerLinkActive="active" href="/targets/list">Targets</a>
    </div>

<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>


</nav>-->
<div class="main-color">
  <div class="at-navbar-container">
    <a routerLinkActive="active" href="/home">SUPER DUPER</a>
    <span>
      <div style="display:inline-block"><a routerLinkActive="active" href="/managedishes">Dishes</a></div>
      <a routerLinkActive="active" href="/manageshoppinglists">Lists</a>
      <a routerLinkActive="active" href="/plan/manage">Plans</a>
    </span>
    <div class="dropdown show float-right">
      <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        Legacy
      </a>

      <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/home"
           routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        <a class="dropdown-item" routerLinkActive="active" href="/login">Login</a>
        <a class="dropdown-item" routerLinkActive="active" href="/mealplan/list">Meal Plan List</a>
        <a class="dropdown-item" routerLinkActive="active" href="/shoppinglist/list">Shopping Lists</a>
        <a class="dropdown-item" routerLinkActive="active" href="/listlayout/list">List Layouts</a>
        <a class="dropdown-item" routerLinkActive="active" href="/targets/list">Targets</a>
        <a class="dropdown-item" href="/tools/delete">Delete Tag</a>
        <a class="dropdown-item" href="/tools/dishtotag">Dish To Tag Tool</a>
        <a class="dropdown-item" href="/tools/tagtotag">Tag To Tag Tool</a>
        <a class="dropdown-item" href="/tools/ratingtag">Rating Tag Tool</a>
      </div>
    </div>
  </div>
</div>
