<div class="main-color">
  <div class="at-navbar-container">
    <div class="navbar-menu-point-div">
      <!--<img width="50" src="assets/images/whiteicon.png">-->
      <div class="navbar-menu-point"><a routerLinkActive="active" href="/home">The List Shop!</a>
      </div>
    </div>

    <div class="navbar-menu-point-div">
      <div class="navbar-menu-point"><a routerLinkActive="active" routerLink="/managedishes">Dishes</a></div>
      <div class="navbar-menu-point"><a routerLinkActive="active" routerLink="/manageshoppinglists">Lists</a></div>
      <div class="navbar-menu-point"><a routerLinkActive="active" routerLink="/plan/manage">Plans</a></div>
    </div>

    <div class="navbar-menu-point-div float-right">
      <div class="navbar-menu-point" ><a routerLinkActive="active" routerLink="/login">Login</a></div>
      <!-- <div *ngIf="!isLoggedIn" class="navbar-menu-point"  routerLinkActive="active" routerLink="/login">Login</div>
      <div *ngIf="isLoggedIn" class="navbar-menu-point">Logout</div>-->
      <div *ngIf="isAdmin" class="dropdown show float-right">
        <a class="btn dropdown-toggle" routerLink="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Legacy
        </a>

        <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" routerLink="/home"
             routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/listlayout/list">List Layouts</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/targets/list">Targets</a>
          <a class="dropdown-item" routerLink="/tools/delete">Delete Tag</a>
          <a class="dropdown-item" routerLink="/tools/dishtotag">Dish To Tag Tool</a>
          <a class="dropdown-item" routerLink="/tools/tagtotag">Tag To Tag Tool</a>
          <a class="dropdown-item" routerLink="/tools/ratingtag">Rating Tag Tool</a>
        </div>
      </div>
    </div>
  </div>
</div>
