<div class="row">
  <div class="col-sm-6">
    <h2>Edit ListLayout - {{listLayout.list_layout_type}}</h2>
  </div>
  <div class="col-sm-6">
    <a class="btn btn-primary btn-lg"
       [routerLink]="['/listlayout/assign', listLayout.layout_id]">
      Assign Tags
    </a>
    <a class="btn btn-primary btn-lg"
       [routerLink]="['/listlayout/tools/category', listLayout.layout_id]">
      Edit Categories
    </a>
  </div>
</div>
<!-- add new category section -->
<div class="row">
  <div *ngIf="!showAdd" class="col-sm-12">
    <a class="btn btn-primary btn-lg"
       (click)="showAddInput()">
      Add new category
    </a>
  </div>
  <div *ngIf="showAdd" class="col-sm-12">
    <input #categoryNameBox class="form-control input-lg" type="text"
           placeholder="tag name"
           (keyup.enter)="addCategory(categoryNameBox.value)"/>
    <a class="btn btn-primary btn-lg"
       (click)="addCategory(categoryNameBox.value)">
      Save
    </a>
  </div>

</div>

<!-- list categories in layout section -->

<section *ngIf="errorMessage">
  {{errorMessage}}
</section>
<div class="row" *ngFor="let category of listLayout.listcategories; let e=even; let f=first; let l=last"
     ywActionable="#aaaaaa"
     [ngClass]="{ evenRow: e }"
     [class.topRow]="f"
     [class.bottomRow]="l">
  <ng-container *ngIf="showEdit != category.category_id">
    <div class="col-sm-8">
      <h4>{{category.category_id}}: {{category.name}}</h4>
    </div>
    <div class="col-sm-4" style="margin-top: 5px;">
      <div class="pull-right">
        <a class="btn btn-warning btn-sm"
           (click)="editListLayoutCategory(category.category_id)">
          Edit
        </a>
        <a class="btn btn-danger btn-sm"
           (click)="deleteListLayoutCategory(category.category_id)">
          Delete
        </a>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="showEdit == category.category_id">
    <div class="col-sm-8">
      <input #categoryNameBox class="form-control input-lg" type="text"
             placeholder="tag name"
             (keyup.enter)="doEditListLayoutCategory(category.category_id,categoryNameBox.value)"/>
    </div>
    <div class="col-sm-4" style="margin-top: 5px;">
      <div class="pull-right">
        <a class="btn btn-warning btn-sm"
           (click)="doEditListLayoutCategory(category.category_id, categoryNameBox.value)">
          Save
        </a>
        <a class="btn btn-danger btn-sm"
           (click)="cancelEditCategory()">
          Cancel
        </a>
      </div>
    </div>
  </ng-container>
</div>
