<ng-container *ngIf="loaded">
<div class="row">
  <div class="col-sm-6">
    <h2>Edit ListLayout - {{listLayout.list_layout_type}}</h2>
  </div>
  <div class="col-sm-6">
    <a class="btn btn-primary btn-lg"
       [routerLink]="['/listlayout/assign', listLayout.layout_id]">
      Assign Tags
    </a>
    <a class="btn btn-primary btn-lg"
       [routerLink]="['/listlayout/tools/category', listLayout.layout_id]">
      Edit Categories
    </a>
  </div>
</div>
<!-- add new category section -->
<div class="row">
  <div *ngIf="!showAdd" class="col-sm-12">
    <a class="btn btn-primary btn-lg"
       (click)="showAddInput()">
      Add new category
    </a>
  </div>
  <div *ngIf="showAdd" class="col-sm-12">
    <input #categoryNameBox class="form-control input-lg" type="text"
           placeholder="tag name"
           (keyup.enter)="addCategory(categoryNameBox.value)"/>
    <a class="btn btn-primary btn-lg"
       (click)="addCategory(categoryNameBox.value)">
      Save
    </a>
  </div>

</div>

  <!-- list categories in layout section -->

  <section *ngIf="errorMessage">
    {{errorMessage}}
</section>
  <div *ngFor="let category of listLayout.listcategories; let e=even; let f=first; let l=last">


    <at-edit-display-category class="row"
                              [isEdit]="showEdit == category.category_id"
                              [layoutId]="listLayout.layout_id"
                              [category]="category"
                              (showEdit)="setShowEdit($event)"
                              (doRefresh)="refreshLayout(layoutId)"
    >

    </at-edit-display-category>

    <ng-container *ngFor="let subcategory of category.subcategories">
      <at-edit-display-category class="row"
                                [isEdit]="showEdit == subcategory.category_id"
                                [layoutId]="listLayout.layout_id"
                                [category]="subcategory"
                                (showEdit)="setShowEdit($event)"
                                (doRefresh)="refreshLayout(layoutId)"
      >
      </at-edit-display-category>

    </ng-container>

  </div>

</ng-container>
