<div class="container" *ngIf="shoppingList">
  <div class="row page-title list-text-color">Edit {{shoppingList.list_type}}</div>
  <div class="row">
    <div class="col-9" style="padding-left:0px;">


      <div class="row justify-content-between" style="margin-left:0px">
        <div *ngFor="let category of shoppingList.categories, let i = index" class="col-6">
          <div class="content-panel legend-1-outline category-light col " style="margin-right:2px">
            <div class="clearfix" *ngIf="i % 2 == 0"></div>
            <div class="row {{getCategoryDispClass('list-color',category)}} justify-content-center"> {{category.name}}
            </div>

            <at-shopping-list-items [category]="category" [legendMap]="listLegend"
                                    [showItemLegends]="showItemLegends" [listId]="shoppingList.list_id"
                                    (listUpdated)="getShoppingList(shoppingList.list_id)"></at-shopping-list-items>

          </div>
        </div>
      </div>


    </div>
    <div class="col-3">
      <div
        class="row menu-color menubar-flush-top justify-content-end">

        <div class="icon-button" (click)="toggleMenu()"><span class="fa-ellipsis-v fa"></span></div>
      </div>
      <div *ngIf="showMenu"
           class="row dish-menubar-text-color menubar-flush-middle dish-menu-dropdown-color justify-conteønt-end">
        <div class="col">

          <div *ngIf="!showPantryItems" class="row justify-content-end text-menu-link"
               (click)="togglePantryItems()">Show Pantry Items
          </div>
          <div *ngIf="showPantryItems" class="row justify-content-end text-menu-link"
               (click)="togglePantryItems()">Hide Pantry Items
          </div>
          <div class="row justify-content-end text-menu-link"
               (click)="toggleLayoutList()">Change Layout
          </div>
        </div>
      </div>
      <div *ngIf="showListLayouts"
           class="row {{showMenu?'menubar-flush-top':'menubar-flush'}} menu-color dish-menubar-text-color dish-menu-color justify-content-end">
        <div class="col">
          <div *ngFor="let listLayout of listLayoutList"
               class="row justify-content-center" (click)="changeListLayout(listLayout.layout_id)">
            {{listLayout.name}}
          </div>
        </div>
      </div>
      <div *ngIf="showMenu"
           class="row dish-menubar-text-color menubar-flush-middle dish-menu-dropdown-color justify-conteønt-end">
        <div class="col">
          <div class="row justify-content-end text-menu-link"
               (click)="clearList()">Clear List
          </div>
          <div *ngIf="!isListType(PICK_UP_LIST)" class="row justify-content-end text-menu-link"
               (click)="addFromList(PICK_UP_LIST)">Add From Pick-Up List
          </div>
          <div *ngIf="!isListType(BASE_LIST)" class="row justify-content-end text-menu-link"
               (click)="addFromList(BASE_LIST)">Add From Base List
          </div>
        </div>
      </div>

      <div *ngIf="showMenu"
           class="row dish-menubar-text-color menubar-flush-middle dish-menu-dropdown-color justify-content-end {{showAddDish?'':'broken-list-fix'}}">
        <div class="col">
          <div *ngIf="!showAddDish" class="row justify-content-end text-menu-link" (click)="toggleAddDish()">Add Dish
          </div>
          <div *ngIf="showAddDish" class="row justify-content-end text-menu-link">
            <at-dish-select class="at-tag-select-style"
                            [showCancelButton]="true"
                            [showText]="'Select Dish'"
                            [passedInputStyle]="'menubar-input'"
                            [dishList]="allDishes"
                            (dishSelected)="addDishToList($event)"
                            (cancelSelectDish)="toggleAddDish()"></at-dish-select>
          </div>

        </div>
      </div>

      <div *ngIf="showMenu"
           class="row dish-menubar-text-color menubar-flush-middle dish-menu-dropdown-color justify-content-end {{showAddItem?'':'broken-list-fix'}}">
        <div class="col">
          <div *ngIf="!showAddItem" class="row justify-content-end text-menu-link" (click)="toggleAddItem()">Add Item
          </div>
          <div *ngIf="showAddItem" class="row justify-content-end text-menu-link">
            <at-tag-select class="at-tag-select-style"
                           [tagTypes]="'Ingredient,NonEdible'"
                           [selectType]="'Assign'"
                           [allowAdd]="true"
                           [showCancelButton]="true"
                           [addOverlayClass]="darker-menu-color"
                           [showText]="'Add Item'"
                           [passedInputStyle]="'menubar-input'"
                           [tagList]="alltags"
                           (tagSelected)="addTagToList($event)"
                           (cancelAddTag)="toggleAddItem(true)"></at-tag-select>
          </div>

        </div>


      </div>

      <div class="row dish-menubar-text-color menubar-flush-middle dish-menu-dropdown-color justify-content-end"
           (click)="shopWithThisList()">Shop!
      </div>


      <div *ngIf="showLegend()" class="row menubar-flush-bottom main-color justify-content-end">
        <div class="col" style="padding:0px;">


          <div class="row justify-content-center">
            <div class="legend-table">

              <div *ngFor="let source of shoppingList.dish_sources"
                   class="legend-row">
                <div class="legend-cell" (click)="highlightDish(source);">
                  <span class="legend-box {{source.disp_class}}"></span>

                </div>
                <div class="legend-cell text-capitalize" (click)="highlightDish(source);">
                  <span>{{source.display}}</span>

                </div>
                <div class="legend-cell text-capitalize" (click)="removeDish(source);">
                  <span class="fa-trash fa"></span>

                </div>
              </div>

              <div *ngFor="let source of shoppingList.list_sources"
                   class="legend-row">
                <div class="legend-cell" (click)="highlightList(source)">
                  <span class="legend-box {{source.disp_class}}"></span>

                </div>
                <div class="legend-cell text-capitalize" (click)="highlightList(source)">
                  <span>{{source.display}}</span>

                </div>
                <div class="legend-cell text-capitalize" (click)="removeList(source);">
                  <span class="fa-trash fa"></span>

                </div>
              </div>

            </div>
          </div>
          <div *ngIf="!showItemLegends" class="row justify-content-end" style="padding-right:10px;"
               (click)="toggleShowItemLegends()">show sources
          </div>
          <div *ngIf="showItemLegends" class="row justify-content-end" style="padding-right:10px;"
               (click)="toggleShowItemLegends()">hide sources
          </div>


        </div>
      </div>

    </div>
  </div>


  <app-modal #modal1 [autoHide]="0" (modalResult)="processModalSelection($event)">
    <div class="app-modal-body">
      There's an active list already!
      <div>
        <button class="buttonclick" value="add">Add to List</button>
        <button class="buttonclick" value="replace">Replace List</button>
      </div>
    </div>

  </app-modal>
</div>
