<div class="container">
  <div class="row page-title list-text-color">Edit {{shoppingList.list_type}}</div>
  <div class="row">
    <div class="col-9" style="padding-left:0px;">


      <div class="row justify-content-between" style="margin-left:0px">
        <div *ngFor="let category of shoppingList.categories, let i = index" class="col-6">
          <div class="content-panel legend-1-outline category-light col " style="margin-right:2px">
            <div class="clearfix" *ngIf="i % 2 == 0"></div>
            <div class="row {{getCategoryDispClass('list-color',category)}} justify-content-center"> {{category.name}}
            </div>

            <at-shopping-list-items [category]="category" [legendMap]="listLegend"
                                    [showItemLegends]="showItemLegends" [listId]="shoppingList.list_id"
                                    (listUpdated)="getShoppingList(shoppingList.list_id)"></at-shopping-list-items>

          </div>
        </div>
      </div>


    </div>
    <div class="col-3">
      <div
        class="row menu-color menubar-flush-top justify-content-end">

        <div class="icon-button" (click)="toggleMenu()"><span class="fa-ellipsis-v fa"></span></div>
      </div>
      <div *ngIf="showMenu"
           class="row dish-menubar-text-color menubar-flush-middle dish-menu-dropdown-color justify-conteønt-end">
        <div class="col">

          <div *ngIf="!showPantryItems" class="row justify-content-end text-menu-link"
               (click)="togglePantryItems()">Show Pantry Items
          </div>
          <div *ngIf="showPantryItems" class="row justify-content-end text-menu-link"
               (click)="togglePantryItems()">Hide Pantry Items
          </div>
          <div class="row justify-content-end text-menu-link"
               (click)="toggleLayoutList()">Change Layout
          </div>
        </div>
      </div>
      <div *ngIf="showListLayouts"
           class="row {{showMenu?'menubar-flush-top':'menubar-flush'}} menu-color dish-menubar-text-color dish-menu-color justify-content-end">
        <div class="col">
          <div *ngFor="let listLayout of listLayoutList"
               class="row justify-content-center" (click)="changeListLayout(listLayout.layout_id)">
            {{listLayout.name}}
          </div>
        </div>
      </div>

      <div *ngIf="showMenu"
           class="row dish-menubar-text-color menubar-flush-middle dish-menu-dropdown-color justify-conteønt-end">
        <div class="col">

          <div class="row justify-content-end text-menu-link"
               (click)="toggleShowDishSources()">Show Sources
          </div>
        </div>
      </div>


      <div *ngIf="showMenu"
           class="row dish-menubar-text-color menubar-flush-middle dish-menu-dropdown-color justify-content-end broken-list-fix">
        <div class="col">
          <div class="row justify-content-end text-menu-link">Add Items</div>
        </div>
      </div>
      <div class="row dish-menubar-text-color menubar-flush-middle dish-menu-dropdown-color justify-content-end">Shop
      </div>


      <div *ngIf="shoppingList.dish_sources.length > 0" class="row menubar-flush-bottom main-color justify-content-end">
        <div class="col" style="padding:0px;">


          <div class="row justify-content-center">
            <div class="legend-table">

              <div *ngFor="let source of shoppingList.dish_sources"
                   class="legend-row">
                <div class="legend-cell" (click)="highlightDish(source);">
                  <span class="legend-box {{source.disp_class}}"></span>

                </div>
                <div class="legend-cell text-capitalize" (click)="highlightDish(source);">
                  <span>{{source.display}}</span>

                </div>
                <div class="legend-cell text-capitalize" (click)="removeDish(source);">
                  <span class="fa-trash fa"></span>

                </div>
              </div>

            </div>
          </div>
          <div *ngIf="!showItemLegends" class="row justify-content-end" style="padding-right:10px;"
               (click)="toggleShowItemLegends()">show sources
          </div>
          <div *ngIf="showItemLegends" class="row justify-content-end" style="padding-right:10px;"
               (click)="toggleShowItemLegends()">hide sources
          </div>


        </div>
      </div>

    </div>
  </div>


</div>
