<div class="row list-color justify-content-center shopping-list-header"> {{category.name}}
</div>

<div *ngFor="let item of category.items"
     class="row justify-content-begin list-text-color">
  <ng-container *ngIf="(item.crossed_off && !hideCrossedOff) || !item.crossed_off">
    <div class="col-md-12 text-left">
      <input *ngIf="item.crossed_off" type="checkbox" name="{{item.item_id}}" value="{{item.item_id}}"
             checked="checked"
             class="george" (click)="crossOffItem(item)"/>
      <input *ngIf="!item.crossed_off" type="checkbox" name="{{item.item_id}}" value="{{item.item_id}}"
             class="george" (click)="crossOffItem(item)"/>

      <label for="{{item.item_id}}" class="item-shopping label-for-george">{{item.tag.name}}</label>
      <span *ngIf="!item.crossed_off">
        <at-color-tags *ngIf="legendType=='color'"
                       [item]="item"
                       [legendMap]="legendMap">

        </at-color-tags>
        <at-word-tags *ngIf="legendType=='word'" [item]="item"></at-word-tags>
        </span>
    </div>
  </ng-container>
</div>

<ng-container *ngIf="category.subcategories && category.subcategories.length > 0">
  <ng-container *ngFor="let subcategory of category.subcategories">
    <div class="row list-color justify-content-begin shopping-list-subheader">
      {{subcategory.name}}
    </div>

    <div *ngFor="let item of subcategory.items"
         class="row justify-content-start list-text-color ">

      <ng-container *ngIf="(item.crossed_off && !hideCrossedOff) || !item.crossed_off">
        <div class="col-md-12 text-left">
          <input *ngIf="item.crossed_off" type="checkbox" name="{{item.item_id}}" value="{{item.item_id}}"
                 checked="checked"
                 class="george" (click)="crossOffItem(item)"/>
          <input *ngIf="!item.crossed_off" type="checkbox" name="{{item.item_id}}" value="{{item.item_id}}"
                 class="george" (click)="crossOffItem(item)"/>

          <label for="{{item.item_id}}" class="item-shopping label-for-george">{{item.tag.name}}</label>
          <span *ngIf="!item.crossed_off">
        <at-color-tags *ngIf="legendType=='color'"
                       [item]="item"
                       [legendMap]="legendMap">

        </at-color-tags>
        <at-word-tags *ngIf="legendType=='word'" [item]="item"></at-word-tags>
        </span>
        </div>
      </ng-container>

    </div>
    <!--
         <ng-container>
          <span *ngIf="item.used_count > 1 && !showItemLegends">({{item.used_count}})</span>
          <span *ngIf="showLegends(item)" class="legend-combined-box">

        <ng-container *ngFor="let dishSource of item.dish_sources">
          <span class="{{legendLookup(dishSource.id)}} legend-combined-box-element"></span>
        </ng-container>
          <ng-container *ngFor="let listSource of item.list_sources">
              <span class="{{legendLookup(listSource.display)}} legend-combined-box-element"></span>

        </ng-container>
    </span>
        </ng-container>
    -->
  </ng-container>
</ng-container>
