<h4>Tags</h4>
<div *ngIf="showSearch()">
  <div>
    <p-autoComplete [(ngModel)]="autoSelectedTag"
                    [suggestions]="filteredTags"
                    (completeMethod)="acFilterTags($event)"
                    field="name" [size]="30"
                    (onSelect)="bingo($event)"
                    (keyup.enter)="checkSearchEnter(focusanchor)"
                    placeholder="try this" [minLength]="1" #focusanchor></p-autoComplete>
    <span (click)="setSearch(false)">Browse (search is showing)</span></div>
  <hr/>
  <!-- <div *ngFor="let indtag of alltags | tagFilter:searchBox.value" class="tagboxContainer">-->
  <!--<div *ngFor="let indtag of filteredTags" class="tagboxContainer">


    <div (click)="showSelected(indtag)">{{indtag.name}}</div>
  </div>-->

  <div *ngIf="showAddTags">

    <ng-container *ngFor="let ttype of allTagTypes">
      <button *ngIf="isIncluded(ttype)" class="btn btn-success btn"
              (click)="add(ttype)">
        Add {{ttype}} Type
      </button>
    </ng-container>

    <button class="btn btn-warning btn"
            routerLink="/list">
      Cancel
    </button>
  </div>
</div>
<div *ngIf="!showSearch()">
  <span (click)="setSearch(true)">Search (browse is showing)</span>

  <ng-container *ngFor="let ttype of allTagTypes">
    <div *ngIf="isIncluded(ttype)" class="card tagbox" (click)="expandFold(ttype)">{{ttype}}
    </div>
    <ng-container *ngIf="isExpanded(ttype)">
      <div class="tagboxContainer" *ngFor="let tag of allDrilldowns[ingredientType]">
        <div class="card tagbox">
          <at-tag-drilldown-container [tagDrilldown]="tag" [selectType]="currentSelect"></at-tag-drilldown-container>
        </div>
      </div>
    </ng-container>
  </ng-container>


</div>


